<p id="notice" style="color:red;"><%= flash[:notice] %></p>


<h1>Budgets</h1>
<p>You've budgeted $<%= @budgets_total %></p>

<%= link_to 'Add budget', new_budget_path %>

<p style="height:40px;"></p>

<% @budgets.each do |budget| %>
	<div>
		<p class="budget-amount">$<%= @budget_utilized[budget.id] %> of $<%= budget.amount %></p>	<h4><%= budget.name %></h4><p><%= link_to 'Edit', edit_budget_path(budget) %>  <%= link_to 'Delete', budget_path(budget), method: :delete %></p>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentage_utilized[budget.id] %>%;">
		</div>
	</div>
<% end %>	