<div class="transactions-index">
	<p id="notice" style="color:red;"><%= flash[:notice] %></p>
	<table>
		<tr>
			<th style="width: 300px; text-align:left;">Description</th>
			<th style="width: 200px; text-align:left;">Date</th>
			<th style="width: 100px; text-align:left;">Amount</th>
			<th style="width: 100px; text-align:left;">Category</th>
			<th style="width: 100px; text-align:left;">Account Name</th>
			<th style="width: 100px; text-align:left;">Budget</th>
		</tr>
			
	<h1>Transactions</h1>
	<% @transactions.each do |transaction| %>
		<tr>
			<td><%= transaction.description %></td>
			<td><%= transaction.date %></td>
			<td><%= transaction.amount %></td>
			<td><%= transaction.category %></td>
			<td><%= transaction.account_name %></td>
			<td><% if transaction.budget_id != nil %>
					<%= @budget_names[transaction.budget_id] %>
				<% else %>
					N/A
				<% end %>
			</td>
			<td><%= link_to 'Edit', edit_transaction_path(transaction) %>           <%= link_to 'Delete', transaction_path(transaction), method: :delete %></td>
		</tr>
	<% end %>

	</table>
</div>	